<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Admin - Clubber</title>
</head>
<body>
    <% if(errors) {%>
        <ul>
            <%errors.forEach(error=> {%>
                <li><%=error%?</li>
            <%})%>
        </ul>
    <%}%>
    <form method="post">
        <label for="username">Username</label>
        <input name="username" type="text"/>
        <button>Add Admin</button>
    </form>
</body>
</html>