<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div className="clubs-container">
        <% if(loggedIn) { %>
                <a href="/clubs/create-club">Add Club</a>
        <% } %>
        <ul>
            <% if(clubs.length) { %>
                    <% clubs.forEach(club => {%>
                            <li>
                                <a href=<%= '/clubs/'+club.name %>>
                                    <%= club.name %>
                                </a>
                            </li> 
                    <% }) %>
            <% } else { %>
                    <h3>No clubs to join. Be the first to creat one!</h3>    
            <% } %>
        </ul>
    </div>
    <div className="feed-container">
    </div>
    <div className="utility-container"> <!-- If user is not looged in it will display the log in buttons. Otherwise display the hot topics and some utilies-->  
        <% if(loggedIn) {%>
            <a href="/log-out">Log Out</a>
        <% } else { %>
            <a href="/sign-up">Sign Up</a>
            <a href="/log-in">Log In</a>
        <%}%>
    </div>
</body>
</html>