<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubber - Log In</title>
</head>
<body> 
    <% if (errors) { %>
        <ul class="errors-container">
            <% errors.forEach(error => { %> 
                <li><%= error %></li>    
            <% })%>
        </ul>
    <%}%>   
    <form method="post" action="/log-in">
        <label for="email">Email</label>
        <input type="text" name="email"/>

        <label for="password">Password</label>
        <input type="password" name="password"/>

        <button>Log In</button>
    </form>
</body>
</html>